.Blur { 
  position: absolute;
  z-index: -1;
  background: rgba(8, 8, 8, 0.719); 
  backdrop-filter: blur(4px);
  height: 100vh;
	width: 100vw; 
}

.ContainerCenter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  width: 70vw;
  background: rgba(121, 121, 121, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
}

.CardLeft {
  height: 100%;
  width: 40%;
}

.CardRight {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.CardTitle {
  color: rgba(255,240,220, 1);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 20px;
  width: 100%;
}

.CardPreview {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.creditCard {
  display: flex;
  flex-direction: row;
  min-height: 370px;
  min-width: 600px;
  border-radius: 18px;
  box-shadow: 10px 10px 22px 3px #17171775;
}

.cardTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

.bankName {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  vertical-align: baseline;
  align-items: center;
  font-size: 1.7rem;
  color: white;
}
.bankName h1 {
  margin: 0 0 0 8%;
}

.bankLogo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 45%;
  height: 0;
}

.pngLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.masterLogo {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  right: 5px;
  bottom: 15px;
  height: 80px;
  width: 120px;
}

.masterLogo h1 {
  color: white;
}

.circleOne {
  height: 48px;
  width: 48px;
  background: rgb(235, 0, 27);
  border-radius: 50%;
}

.circleTwo {
  height: 48px;
  width: 48px;
  margin-left: -20px;
  background: rgba(255, 209, 0, 0.7);
  border-radius: 50%;
}
.cardInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60%;
}
.iconNFC {
  display: inline-flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  margin-left: 5%;
}

.cardNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  min-width: 600px;
  height: 25%;
}

.numberLabel {
  font-size: 2rem;
  color: white;
}
.cardOwnerName {
  color: white;
  width: 100%;
  font-size: 1.3rem;
  text-align: left;
  padding-left: 25px;
}

.tilt {
  box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
}

.colorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 35px;
}

.colorContainer .labelColor {
  color: white;
  font-size: 1.3rem;
  height: 20%;
  align-items: center;
  text-align: left;
}
.colorContainer .labelAlpha {
  color: white;
  font-size: 1.3rem;
  align-items: center;
  text-align: left;
}

.ownerName {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ownerName h1 {
  color: white;
  font-size: 1.3rem;
  margin: 25px 0 0 25px;
}
.ownerNameInput {
  padding: 5px 5px 5px 10px;
  font-size: 1.2rem;
  width: 350px;
  height: 2rem;
  border-radius: 12px;
  border: none;
  background: rgb(194, 194, 194, 0.7);
  margin: 15px 25px 25px;
}

.ownerNameInput:focus{
  border: none;
  outline: none;

}